mainmenu "FluffedUpLibC"

config VERSION_MAJOR
  int 
  default 1

config VERSION_MINOR
  int 
  default 7

config VERSION_PATCH
  int 
  default 1

config DISABLE_GNU_API
  bool "Disables use of GNU API and fallback to portable only"

config ENABLE_TEST_EXE
  bool "Enable main"

config ASAN
  bool "Enable ASAN"
config TSAN
  bool "Enable TSAN"
config MSAN
  bool "Enable MSAN"
config UBSAN
  bool "Enable UBSAN"

menu "Installation"
  config PREFIX
    string 
    prompt "The usual $PREFIX you see on programs"  
    default "/usr/local"
endmenu

source "c23_support/Kconfig"
